/* Global ========================================== */
:root {
    --dark-blue: #363f5f; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(223, 217, 217);
    font-family: 'poppins', sans-serif
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

/* Titles========================================== */
h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: normal;
}

/* Header ========================================== */
header {
    background: rgb(36, 70, 36);
    padding: 2rem 0 10rem;
    text-align: center;
}

#logo {
    color: #fff;
    font-weight: 100;
}

/* Balance ========================================== */
#balance {
    margin-top: -8rem;
}
#balance h2 {
    color: white;               /* É o mesmo de #fff */
    margin-top: 0;
}
/* Cards ========================================== */
.card {
    background: white;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    color: var(--dark-blue)
}
.card h3 {
    font-weight: normal;
    font-size: 1rem;
}
.card p {
    font-size: 2rem;
    line-height: 3rem;      /* É a separação entre as linhas */
    margin-top: 1rem;
}
.card.total {
    background: #49aa26;
    color: white;
}

/* Table ========================================== */
#dataTable {
    width: 100%;   /* Pega 100% do espaço do container que está dentro */
    border-spacing: 0 0.5rem;
}
table th {
    background: white;
    font-weight: normal;
    color: #969cb3;
    padding: 1rem 2rem;
    text-align: left;
}
table td {
    background: white;
}



/* Footer ========================================== */
footer {
    text-align: center;
}