/* Global =============================== */
:root {
  --dark-blue: #363f5f;
  --green: #49aa26;
  --light-green: #3dd705;
}
* { /*Zera as pré definições do user agent*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    font-size: 93.75%;
}
body {
  background: #dfd9d9;
  font-family: "poppins", sans-serif;
}
.sr-only { 
/*screen reader only, são truques,tricks.com*/
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border-width: 0;
}
.container {
  width: min(90vw, 800px);
  margin: auto;
}

/* Header ================================ */
header {
  background: #244624;
  padding: 2rem 0 10rem;
  text-align: center;
}
header h1#logo {
  color: #fff;
  font-weight: 100;
}

/* Titles================================= */
h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);
  font-weight: normal;
}

/* Links and Buttons====================== */
a {
    color: #49aa26;
    text-decoration: none;
}
a:hover {
    color: #3dd705;
}
a.button.new {
    display: inline-block;
    margin-bottom: .8rem;
}

/* Balance =============================== */
#balance {
  margin-top: -8rem;
}
#balance h2 {
  color: #fff;
  margin-top: 0;
}

/* Cards ================================= */
.card {
  background: #fff;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  color: var(--dark-blue);
}
.card h3 {
  font-weight: normal;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card p {
  font-size: 2rem;
  line-height: 3rem; /* Separação entre linhas */
  margin-top: 1rem;
}
.card.total {
  background: var(--green);
  color: #fff;
}

/* Table ================================= */
#dataTable {
  width: 100%;
  border-spacing: 0 0.5rem; /* Separação entre linhas da tabela */
  color: #969cb3;
}
table thead tr th:first-child,
table tbody tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}
table thead tr th:last-child,
table tbody tr td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}
table thead th {
  background: #fff;
  font-weight: normal;
  padding: 1rem 2rem;
  text-align: left;
}
table tr {
  opacity: 0.7;
}
table tbody tr:hover {
  opacity: 1;
}
table tbody td {
  background: #fff;
  padding: 1rem 2rem;
}
td.deion {
  color: var(--dark-blue);
}
td.incomes {
  color: #12a454;
}
td.expense {
  color: #e92929;
}

/* Footer ================================ */
footer {
  text-align: center;
  padding: 4rem 0 0 2rem;
  color: var(--dark-blue);
  opacity: 0.6;
}

/* Responsive ============================ */
@media (min-width: 800px) {
    html {
        font-size: 87.5%;
    }

    #balance {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
}